body{
    font-family: 'Poppins', sans-serif; 
}
.first-content{
    display: flex;
    
}
span{
    color: orange;
}
.button-style{
    text-decoration: none;
    color: black;
    background-image: linear-gradient( rgb(255, 191, 107), rgb(250, 166, 110));
    padding: 5px;
    border-radius: 5px;
}
.stay h1{
    border-left: 5px solid red;
    font-size: 50px;
    padding: 10px;
}
.stay img{
    width: 60%;
    margin-left: 50px;
}
.stay{
    width: 100%;
    margin: 10px;
    padding: 20px;
}
.mission-header span{
    color: orange;
}
.mission-header h1{
    color: rgb(1, 1, 68);
    font-size: 40px;
    text-align: center;
   
}
.my-mission{
    display: flex;
    width: 100%;
    height: 100%;
}
.main-mission img{ 
    width: 90px;
    height: 100px;
    margin-left: 7px;

}
.vission img{
    width: 90px;
    height: 100px;
    margin-left: 7px;
    

}
.goal img{
    width: 90px;
    height: 100px;
    margin-left: 7px;

}
.for-three-div{
    margin: 30px;
    padding: 20px;
    border-radius: 10px;


}
.main-mission{

    background-color: rgb(226, 226, 250);
}
.vission{

    background-color: rgb(248, 217, 217);
}
.goal{
    background-color: rgb(243, 243, 209);
}
.third-developer{
    display: flex;
    width: 100%;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat:no-repeat;
    background-position: left;
    
}
.third-developer img{
    width: 500px;
    height:370px;
    margin-left: 60px;
}
.third-developer h2{
   font-size: 40px;
   line-height: 50px;
}
.developer{
    margin: 50px;
}
